# Exported from poetry.lock
aiohttp==3.7.4.post0 ; python_version >= "3.8" and python_version < "4.0"
async-timeout==3.0.1 ; python_version >= "3.8" and python_version < "4.0"
attrs==22.1.0 ; python_version >= "3.8" and python_version < "4.0"
chardet==4.0.0 ; python_version >= "3.8" and python_version < "4.0"
charset-normalizer==3.0.0 ; python_version >= "3.8" and python_version < "4.0"
discord-py==2.0.1 ; python_version >= "3.8" and python_version < "4.0"
idna==3.4 ; python_version >= "3.8" and python_version < "4.0"
multidict==6.0.2 ; python_version >= "3.8" and python_version < "4.0"
typing-extensions==4.4.0 ; python_version >= "3.8" and python_version < "4.0"
yarl==1.8.1 ; python_version >= "3.8" and python_version < "4.0"
